.hero{
    display: flex;
    justify-content: center;
    height: 90vh;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(135,177,226,0.6896008403361344) 100%);

align-items: center;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 300px 0 0;
}

.hero-left p{
    font-size: 5rem;
    font-weight: 600;
}

.hand-icon{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.hand-icon img{
    width: 70px;
    height: 70px;
    margin-top: 30px;
}

.hero-latest-btn{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 30px;
    width: 240px;
    margin-top: 30px;
    box-shadow: 5px 5px 20px black;
    color: white;
    justify-content: center;
}

.hero-latest-btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}

.hero-latest-btn img{
    width: 40px;
    height: 15px;
    margin-top: 7px;
}


.hero-right img{
    height: 80vh;
}