

.newsletter-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(238,174,202);
background: linear-gradient(173deg, rgba(238,174,202,1) 18%, rgba(245,245,245,0.6896008403361344) 100%);
    padding: 30px;
    width: 1090px;
}

.newsletter{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.newsletter-box h1{
    font-size: 3rem;
    padding: 30px 0;
}

.newsletter-box p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.newsletter-box input{
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px 0 0 30px;
    font-size: 1.3rem;
    outline: none;

}

.newsletter-box button{
    width: 160px;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    border: 2px solid black;
}